##  untracked files  ##
#######################

/_/
/JCBNF/*


##  compiled files  ##
######################

/bin/
*.class
/doc/javadoc/
jcbnfp.*
jcbnfp.*/
!jcbnfp.texinfo


##  backup files  ##
####################

*~
\#*\#
.\#*
*.swp
*.bak


