##  untrcked files  ##
######################

/_/


##  compiled files  ##
######################

/bin/
*.class
/doc/javadoc/


##  backup files  ##
####################

*~
\#*\#
.\#*


##  temp files  ##
##################

jcbnfp.*
jcbnfp.*/
!jcbnfp.texinfo
